bin/
obj/
node_modules/
build/
TestResults/
test-results.json
.vs/
.vscode/
.env.local
.env.*.local
*.user
*.suo
legacy_backend_not_pushed/
docs/*
!docs/*.md
!docs/*.pdf
img/
backend/bin/
backend/obj/
frontend/build/
frontend/node_modules/
frontend/README.md
