bin/
obj/
node_modules/
build/
TestResults/
test-results.json
.vs/
.vscode/
.env
.env.*
!.env.example
*.user
*.suo
legacy_backend_not_pushed/
docs/*
!docs/screenshots/
!docs/screenshots/*
img/
backend/bin/
backend/obj/
frontend/build/
frontend/node_modules/
frontend/README.md
